<div class="min-h-screen flex flex-col bg-gray-50">
    <app-header [weight]="weight" [height]="height" [age]="age" (editProfileClick)="openEditProfile()"></app-header>
    <div class="flex-1 px-4 sm:px-8">
        <section class="mt-6 grid grid-cols-1 lg:grid-cols-1 gap-8 items-start">
            <!-- LEFT PANEL -->
            <div class="space-y-6">
                <div class="rounded-[1.5rem] border border-slate-200 bg-white p-5 shadow-sm">
                    <div class="flex flex-col gap-4 sm:flex-row sm:items-start sm:justify-between">
                        <div>
                            <h2 class="text-2xl font-semibold text-neutral-900">Welcome back!</h2>
                            <p class="mt-2 text-sm text-gray-500">Your current profile info helps the app tailor
                                exercises to your goals.</p>
                        </div>
                        <button
                            class="rounded-full border border-primary-200 bg-primary-50 px-4 py-2 text-sm font-semibold text-primary-700 hover:bg-primary-100"
                            (click)="openEditProfile()">Edit profile</button>

                    </div>
                    <!-- buttons profile -->
                    <div class="mt-5 grid grid-cols-2 lg:grid-cols-4 gap-3">
                        <div class="rounded-3xl bg-slate-50 p-4 text-sm">
                            <h3 class="text-xl font-bold text-neutral-900">Weight <span class="text-xl text-neutral-900">{{ weight }} kg</span></h3>
                        </div>
                        <div class="rounded-3xl bg-slate-50 p-4 text-sm">
                            <h3 class="text-xl font-bold text-neutral-900">Height <span class="text-xl text-neutral-900">{{ height }} inches</span></h3>
                        </div>
                        <div class="rounded-3xl bg-slate-50 p-4 text-sm">
                            <h3 class="text-xl font-bold text-neutral-900">Age <span class="text-xl text-neutral-900">{{ age }} years</span></h3>
                        </div>
                        <div class="rounded-3xl bg-slate-50 p-4 text-sm">
                            <h3 class="text-xl font-bold text-neutral-900">Workout Plan <span class="text-sm text-neutral-900 mt-2">
                                    <a href="workoutPlan/6_Day_Strength_Size_UPDATED_Heavy_Feel.pdf" target="_self" class="inline-block text-sm font-semibold text-primary-600 hover:text-primary-700">PDF</a>
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-4 mb-2 grid grid-cols-1 lg:grid-cols-1 gap-8 items-start">
            <!-- RIGHT PANEL -->
            <!-- MUSCLE SELECTION -->
            <div class="">
                <app-muscle-names></app-muscle-names>
            </div>
        </section>


        <!-- MAIN GRID -->
        <section class="mt-4">
            <!-- Calender event -->
            <app-calendar></app-calendar>
        </section>
    </div>

    <!-- Edit Profile Modal -->
    <p-dialog header="Edit Profile" [(visible)]="editProfileVisible" [modal]="true" [style]="{ width: '400px' }">
        <div class="flex flex-col gap-4">
            
            <span class="text-sm font-bold text-gray-700">Since - {{ startedDate }}</span>
            <div>
                <label class="text-sm font-semibold">Weight (kg)</label>
                <input type="number" class="w-full p-2 border rounded" [(ngModel)]="weight">
            </div>
            <div>
                <label class="text-sm font-semibold">Age</label>
                <input type="number" class="w-full p-2 border rounded" [(ngModel)]="age">
            </div>
            <div class="flex justify-end gap-3 mt-4">
                <button class="px-4 py-2 bg-gray-200 rounded" (click)="editProfileVisible=false">
                    Cancel
                </button>
                <button class="px-4 py-2 bg-blue-600 text-white rounded" (click)="saveProfile()">
                    Save
                </button>
            </div>
        </div>
    </p-dialog>

    <app-footer></app-footer>
</div>